<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
  <h3 class="styled-heading">
    <span class="material-icons">directions_bus</span> Transportdienstleister anlegen
  </h3>
</div>



<p> Firmenname <input type ="text" [(ngModel)]="transportProvider.companyName"> </p>
<p> Bewertung <input type ="text" [(ngModel)]="transportProvider.review"> </p>

<p> Straße <input type ="text" ng-model=""> </p>
<p> Hausnummer <input type ="text" ng-model=""> </p>
<p> PLZ <input type ="text" ng-model=""> </p>
<p> Ort <input type ="text" ng-model=""> </p>

<p> Koordinaten <input type ="text" ng-model=""> </p>

<div>
  <span class="material-icons">save</span>
  <button (click)="save()">Speichern</button>
</div>
