
<p> Firmenname <input type ="text" [(ngModel)]="transportProvider.companyName"> </p>
<p> Bewertung <input type ="range" [(ngModel)]="transportProvider.review"> </p>


<p> Straße <input type="text"  [(ngModel)]="transportProvider.companyAddress.streetName"> </p>
<p> Hausnummer <input type ="text" [(ngModel)]="transportProvider.companyAddress.doorNumber"> </p>
<p> PLZ <input type ="text" [(ngModel)]="transportProvider.companyAddress.zipcode"> </p>
<p> Ort <input type ="text" [(ngModel)]="transportProvider.companyAddress.city"> </p>


<!--  TODO: Button "generiere Koords" -> onClick(triggerGetCoordinates) -->
<!--
<div class="card flex justify-content-center">
  <p-dropdown
    (onChange)="changeFunctionStart()"
    [options]="coordList"
    [(ngModel)]="startpoint"
    placeholder="Auswahlmöglichkeiten Koordinaten" />
</div>
-->


<div>
  <span class="material-icons">save</span>
  <button (click)="save()">Speichern</button>
</div>
