
<p> Firmenname <input type ="text" [(ngModel)]="transportProvider.companyName"> </p>
<p> Bewertung <input type ="range" [(ngModel)]="transportProvider.review"> </p>


<p> Straße <input type="text"  [(ngModel)]="transportProvider.companyAddress.streetName"> </p>
<p> Hausnummer <input type ="text" [(ngModel)]="transportProvider.companyAddress.doorNumber"> </p>
<p> PLZ <input type ="text" [(ngModel)]="transportProvider.companyAddress.zipcode"> </p>
<p> Ort <input type ="text" [(ngModel)]="transportProvider.companyAddress.city"> </p>


<!--  TODO: Button "generiere Koords" -> onClick(triggerGetCoordinates) -->
<p-button
  label="Mögliche Koordinaten laden"
  class="p-button-success"
  (onClick)="getCoordnatesTranportProvider(transportProvider.companyAddress.streetName + '' + transportProvider.companyAddress.doorNumber + ', ' + transportProvider.companyAddress.zipcode + ' ' +transportProvider.companyAddress.city)"/>



<div class="card flex justify-content-center">
  <p-dropdown  *ngIf="coordListTP && coordListTP.length > 0"
               (onChange)="changeFunctionTP()"
               [options]="coordListTP"
               [(ngModel)]="startpoint"
               placeholder="Auswahlmöglichkeiten Koordinaten" />
</div>


<!--  MAP -->
<div id="start" style="width: 100%; height: 500px;"></div>


<div>
  <span class="material-icons">save</span>
  <button (click)="save()">Speichern</button>
</div>
