
.map {
  height: 400px;
  border: 2px solid black;
  margin: 50px 0; /* Fügt Abstand ober- und unterhalb der Karte hinzu */
  padding: 50px; /* Neuer Innenabstand der Stecknadel */
  margin: 10px 20px; /* Ändere den Außenabstand links und rechts */
}
