
<p>Geschlecht:
  <select [(ngModel)]="person.gender">
    <option value="Mann">Herr</option>
    <option value="Frau">Frau</option>
  </select>
</p>
<p> Titel <input type="text" [(ngModel)]="person.titel"> </p>
<p> Vorname <input type ="text" [(ngModel)]="person.firstName"> </p>
<p> Nachname <input type="text" [(ngModel)]="person.lastName"> </p>
<p> Geburtstag <input type="date" [(ngModel)]="person.birthday"> </p>
<p> Rollstuhl <input type="checkbox" [(ngModel)]="person.wheelchair"> </p>

<div>
  <span class="material-icons">save</span>
  <button (click)="save()">Speichern</button>
</div>

















