
<p>Geschlecht:
  <select [(ngModel)]="person.gender">
    <option value="Mann">Herr</option>
    <option value="Frau">Frau</option>
  </select>
</p>
<p> Titel <input type="text" [(ngModel)]="person.titel"> </p>
<p> Vorname <input type ="text" [(ngModel)]="person.firstName"> </p>
<p> Nachname <input type="text" [(ngModel)]="person.lastName"> </p>
<p> Geburtstag <input type="date" [(ngModel)]="person.birthday"> </p>
<p> Rollstuhl <input type="checkbox" [(ngModel)]="person.wheelchair"> </p>

<!--  Überschrift "Startadresse" -->
<h3 class="styled-heading"><span class="material-icons icon">person</span> Startadresse anlegen</h3>

<p> Straße <input type="text" [(ngModel)]="person.startAddress.streetName"> </p>
<p> Hausnummer <input type ="text" [(ngModel)]="person.startAddress.doorNumber"> </p>
<p> PLZ <input type ="text" [(ngModel)]="person.startAddress.zipcode"> </p>
<p> Ort <input type="text" [(ngModel)]="person.startAddress.city"> </p>

<!--  TODO: Button "generiere Koords" -> onClick(triggerGetCoordinates) -->


<div class="card flex justify-content-center">
  <p-dropdown
    (onChange)="changeFunctionStart()"
    [options]="coordList"
    [(ngModel)]="startpoint"
    placeholder="Select a City" />
</div>


<!--  MAP -->
<div id="start" style="width: 100%; height: 500px;"></div>

<!--  Überschrift "Zieladresse" -->
<h3 class="styled-heading"><span class="material-icons icon">person</span> Zieladresse anlegen</h3>

<p> Straße <input type="text" [(ngModel)]="person.targetAddress.streetName"> </p>
<p> Hausnummer <input type ="text" [(ngModel)]="person.targetAddress.doorNumber"> </p>
<p> PLZ <input type ="text" [(ngModel)]="person.targetAddress.zipcode"> </p>
<p> Ort <input type="text" [(ngModel)]="person.targetAddress.city"> </p>

<!--  MAP -->
<div id="target" style="width: 100%; height: 500px;"></div>

<div>
  <span class="material-icons">save</span>
  <button (click)="save()">Speichern</button>
</div>

















