<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h3 class="styled-heading"><span class="material-icons">person</span> Person anlegen</h3>


<p> Titel <input type="text" [(ngModel)]="person.titel"> </p>
<p> Geschlecht <input type ="text" [(ngModel)]="person.gender"> </p>
<p> Vorname <input type ="text" [(ngModel)]="person.firstName"> </p>
<p> Nachname <input type="text" [(ngModel)]="person.lastName"> </p>
<p> Geburtstag <input type="date" [(ngModel)]="person.birthday"> </p>
<p> Rollstuhl <input type="checkbox" [(ngModel)]="person.wheelchair"> </p>

<!--
<p> , Startadresse, Zieladresse, >
<p> Startadresse festlegen: </p>

<p> Straße <input type ="text" ng-model=""> </p>
<p> Ort <input type ="text" ng-model=""> </p>
<p> Koordinaten <input type ="text" ng-model=""> </p>
<p> Zieladresse festlegen: </p>
<p> Koordinaten <input type ="text" ng-model=""> </p>
<p> Rollstuhlfahrer <input type ="text" ng-model=""> </p>
-->

<div>
  <span class="material-icons">save</span>
  <button (click)="save()">Speichern</button>
</div>






